.idea/
.vscode/
.DS_Store

__pycache__/
.venv/
.env/

Books/

cookies.json
*.log
*.txt
*.code-workspace
safaribooks.py.old
safaribooks.py.20250426
safaribooks.py.20240314
cookies.json.20240105
.python-version