[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urllib3 = ">=1.26.5"
websocket-client = ">=1.0.0"

lxml = "*"
requests = "*"

[dev-packages]
pytest = ">=8.0"


[requires]

python_version = "3.11"
